#!/usr/bin/env bash
if [ ! -f .env ]; then
  cat << EOF > .env
HOME_DIR=$HOME
WORKING_DIR=$PWD
EOF
fi
eval "$(devenv direnvrc)"

# You can pass flags to the devenv command
# For example: use devenv --impure --option services.postgres.enable:bool true
use devenv