# /default.nix
_: {
{% macro render_attrset(data, indentation) %}
{% for key, value in data.items() %}
{{ " " * indentation }}{{ key }} = {% if value is mapping %}
{
{{ render_attrset(value, indentation + 2) }}{{ " " * indentation }}};
{% else %}
{{ "[ ]" if value is sequence and value is not string and (value | length) == 0 else value | to_nix }};
{% endif %}
{% endfor %}
{% endmacro %}
{% if cli %}
  cli = {
{{ render_attrset(cli, 4) }}  };
{% endif %}
{% if desktops %}
  desktops = {
{{ render_attrset(desktops, 4) }}  };
{% endif %}
{% if networking %}
  networking = {
{{ render_attrset(networking, 4) }}  };
{% endif %}
{% if editors %}
  programs = {
{{ render_attrset(editors, 4) }}  };
{% endif %}
{% if services %}
  services = {
{{ render_attrset(services, 4) }}  };
{% endif %}
{% if luxnix %}
  luxnix = {
{{ render_attrset(luxnix, 4) }}  };
{% endif %}
{% if roles %}
  roles = {
{{ render_attrset(roles, 4) }}  };
{% endif %}

  home.stateVersion = {{ stateVersion | nix_string }};
}{{ "\n" }}
