{ config, pkgs, lib, modulesPath, ... }:

{
  imports = [
    (modulesPath + "/installer/scan/not-detected.nix")
    ./boot-decryption-config.nix
    ./disks.nix
    ./luxnix.nix
  ];

  user = {
    admin = {
      name = "admin";
    };
    ansible.enable = true;
    settings.mutable = false;
  };

  roles = { 
    
    {% for role_name, role in group_roles.items() -%}
      {{ role_name }} = {
        {% for key, value in role.items() -%}
          {% if value is mapping -%}
            {{ key }} = { 
              {% for sub_key, sub_value in value.items() -%}
                {{ sub_key }} = {{ sub_value | tojson }};
              {% endfor -%} 
            };
          {% else -%}
            {{ key }} = {{ value | tojson }};
          {% endif -%}
        {% endfor -%} 
      };
    {% endfor -%}

    # Host Roles  
    {% for role_name, role in host_roles.items() -%} 
      {{ role_name }} = {
        {% for key, value in role.items() -%}
          {% if value is mapping -%}
            {{ key }} = { 
              {% for sub_key, sub_value in value.items() -%}
                {{ sub_key }} = {{ sub_value | tojson }};
              {% endfor -%} 
            };
          {% else -%}
            {{ key }} = {{ value | tojson }};
          {% endif -%}
        {% endfor -%} 
      };
    {% endfor -%}
  };

  services = {
     {% for service_name, service in group_services.items() -%}
      {{ service_name }} = { 
        enable = {{ service.enable | tojson }}; 
        {% for key, value in service.items() if key != 'enable' -%}
          {{ key }} = {{ value | tojson }};
        {% endfor -%} 
      }; 
    {% endfor -%}

    {% for service_name, service in host_services.items() -%}
      {{ service_name }} = { 
        enable = {{ service.enable | tojson }}; 
        {% for key, value in service.items() if key != 'enable' -%}
          {{ key }} = {{ value | tojson }};
        {% endfor -%} 
      }; 
    {% endfor -%}
  };
}