{ config, pkgs, lib, modulesPath, ... }:

{
  imports = [
    (modulesPath + "/installer/scan/not-detected.nix")
    ./boot-decryption-config.nix
    ./disks.nix
    ./luxnix.nix
  ];

  user = {
    admin = {
      name = "admin";
    };
    ansible.enable = true;
    settings.mutable = false;
  };

  roles = { {% for role in group_roles -%}
      {{ role.name }}.enable = true; {% endfor -%} 
    {% for role in host_roles -%} 
      {{ role.name }}.enable = true; {% endfor -%}
  };

  services = { {% for service in group_services -%}
      {{ service.name }}.enable = true; {% endfor -%}
    {% for service in host_services -%}
      {{ service.name }}.enable = true; {% endfor -%}
  };
}